<!-- "abrir-modal" : Estilo personalizado ubicado en la hoja de estilos de este componente "DetalleComponent"
    *ngIf="modalService.modal" : Validamos que exista este atributo para poder renderizar.
-->
<div *ngIf="modalService.modal" class="abrir-modal animacion fadeIn">
    <div *ngIf="modalService.modal" class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ titulo }}</h5>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="col-sm">
                                <!-- Detalle del cliente -->
                                <ul *ngIf="cliente" class="list-group text-dark mb-3">
                                    <li class="list-group-item"> {{cliente.nombre}} </li>
                                    <li class="list-group-item"> {{cliente.apellido}} </li>
                                    <li class="list-group-item"> {{cliente.email}} </li>
                                    <li class="list-group-item"> {{cliente.createAt | date:"fullDate" }} </li>
                                </ul>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <!--  $event : Será el evento que permitirá obtener el archivo a enviar para asignarlo a la imagen seleccionada-->
                                        <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input"
                                            id="inputGroupFile04">
                                        <label class="custom-file-label" for="inputGroupFile04">Buscar foto</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button [disabled]="!fotoSeleccionada" (click)="subirFoto()"
                                            class="btn btn-outline-secondary" type="button">Subir</button>
                                    </div>
                                </div>
                                <!-- - Renderizamos la barra de progreso si es mayor a cero "0"
                                 - [ngStyle]="{width: progreso+ '%'}" : Aplicamos un estilo de ancho "width". 
                                   En el cual le añadirmos porcenteje al ancho según el número de la variable progreso
                                 - attr.aria-valuenow="{{progreso}}" : El atributo "aria-valuenow" es el que vino por defecto en el diseño. 
                                   Así que para mantener este atributo le añadimos "attr." para que asigne de forma dinámica a un valor,
                                    en este caso al de la variable "progreso"-->
                                <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                                    <div class="progress-bar progress-bar-striped" role="progressbar"
                                        [ngStyle]="{width: progreso+ '%'}" attr.aria-valuenow="{{progreso}}"
                                        aria-valuemin="0" aria-valuemax="100">
                                        {{progreso}}%
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <!-- Ruta del endpoint backend que muestra la foto -->
                                <img class="img-thumbnail rounded" *ngIf="cliente?.foto"
                                    src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="foto del cliente">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>