<!-- Detalle del cliente que contiene la foto.
  [cliente] : Representa una variable llamada "cliente" en el componente hijo "DetalleComponent"
  clienteSeleccionado : Representa una variable llamada "clienteSeleccionado" en el componente padre "ClientesComponent"
 -->
<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>
<!-- Buscamos un "card", quitamos el "style" del primer div y añadimos el "class" en la etiqueta "table" añadiendo lo escrito abajo-->
<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <!-- [routerLink] : Directiva view/helper que permiten crear links/enlaces internas de nuestro proyecto -->
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
        Crear Cliente
      </button>
    </div>

    <div *ngIf="clientes.length == 0" class="alert alert-info">
      No hay registros en la base de datos.
    </div>

    <table *ngIf="clientes.length > 0" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let cliente of clientes">
          <td>
            <!-- <pre>
              {{cliente.foto | json  }}
          </pre> -->
            <img class="img-thumbnail rounded" (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
              src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="foto del cliente"
              style="width: 64px; cursor: pointer;">

            <img class="img-thumbnail rounded" (click)="abrirModal(cliente)" *ngIf="!cliente?.foto"
              src="http://localhost:8080/images/no-usuario.png" alt="foto del cliente"
              style="width: 64px; cursor: pointer;">

          </td>
          <td> {{cliente.nombre}} </td>
          <td> {{cliente.apellido | uppercase}} </td>
          <td> {{cliente.email}} </td>
          <td> {{cliente.createAt | date: "EEEE dd, MMMM yyyy"}} </td>
          <td>
            <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]"
              class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button type="button" name="button" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Componente del paginador 
        - *ngIf="paginador" : Condionamos que exista la variable "paginador" 
          ya que tanto en este compente como en el componente hijo estas variables son asignadas en el "onInit",
          por lo cual el hijo podría obtener la variable pero sin valor.
        - [paginador] : Directiva que permite inyectar/pasar el  "paginador" al compnoente del componente actual "ClientesComponent" al componente "PaginatorComponent".
          Esta variable pertenece al nombre de la palabra del compnente hijo "PaginatorComponent".
        - "paginador" : Nombre de la variable del componente actual "ClientesComponent".
    -->
    <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
  </div>
</div>